<h1>Imagem do Mês :: Edição</h1>

<% form_for(@calendar_image, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @calendar_image %> |
<%= link_to 'Voltar', calendar_images_path %>