<h1><%= @project.title %> :: Audio</h1>

<% form_for([@project, @project_audio], :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', project_project_audios_path(@project) %>