<h1><%= @living_file.title %> :: Imagens</h1>

<table>
  <tr>
    <th>Posição</th>
	<th>Imagem</th>
  </tr>

<% @living_file_additional_images.each do |living_file_additional_image| %>
  <tr>
	<td>
		<%= link_to 'Up', "/living_files/#{@living_file.id}/living_file_additional_images/#{living_file_additional_image.id}/higher", :method => :put %>
		<%= link_to 'Dn', "/living_files/#{@living_file.id}/living_file_additional_images/#{living_file_additional_image.id}/lower", :method => :put %>
	</td>  
 	<td><%= image_tag living_file_additional_image.lf_add_image.url(:thumb) %></td>
    <td><%= link_to 'Editar', edit_living_file_living_file_additional_image_path(@living_file, living_file_additional_image) %></td>
    <td><%= link_to 'Remover', [@living_file, living_file_additional_image], :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova imagem', new_living_file_living_file_additional_image_path(@living_file) %>
<br/><br/>
<%= link_to 'Voltar para o arquivo vivo', @living_file %>