<p>
  <%= f.label "Categoria" %><br />
  <%= f.text_field :categ, :size => 62 %>
</p>
<p>
  <%= f.label "Título" %><br />
  <%= f.text_field :title, :size => 62 %>
</p>
<p>
  <%= f.label "URL" %><br />
  <%= f.text_field :url, :size => 62 %>
</p>