  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.check_box :bolsas_e_convocatorias %> Bolsas e Convocatórias
  </p>
  <p>
    <%= f.label "Subtitulo" %><br />
    <%= f.text_field :subtitle, :size => 62 %>
  </p>
  <p>
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description, :cols => 60, :rows => 18, :class => "mceEditor" %>
  </p>
  <p>
	<%= f.label "Imagem" %> <small>[tamanho: 514x274]</small><br/>
	<% if @article.article_image.exists? then %>
		<%= image_tag @article.article_image.url(:thumb) %><br/>
	<% end %>
	<%= f.file_field :article_image %>
  </p>
  <p>
    <%= f.label "Legenda" %><br />
    <%= f.text_field :image_desc, :size => 62 %>
  </p>