<h1>Notícia :: Edição</h1>

<% form_for(@article, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "form", :locals => {:f => f} %>
  	
  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @article %> |
<%= link_to 'Voltar', articles_path %>