<h1>Arquivo Vivo :: Edição</h1>

<% form_for(@living_file, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<p>
  <b>Galeria de Imagens</b> <%= link_to '[editar]', living_file_living_file_additional_images_path(@living_file) %><br/>
  <b>Textos</b> <%= link_to '[editar]', living_file_living_file_texts_path(@living_file) %><br/>
  <b>Documentos</b> <%= link_to '[editar]', living_file_living_file_documents_path(@living_file) %><br/>
  <b>Vídeos</b> <%= link_to '[editar]', living_file_living_file_videos_path(@living_file) %><br/>
  <b>Audios</b> <%= link_to '[editar]', living_file_living_file_audios_path(@living_file) %><br/>
  <b>Links</b> <%= link_to '[editar]', living_file_living_file_links_path(@living_file) %><br/>
</p>

<%= link_to 'Exibir', @living_file %> |
<%= link_to 'Voltar', living_files_path %>