<h1><%= @living_file.title %> :: Audio</h1>

<% form_for([@living_file,@living_file_audio], :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>
	
	<%= render :partial => "form", :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Criar', :disable_with => "Criando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', living_file_living_file_audios_path(@living_file) %>