<h1><%= @project.title %> :: Imagens</h1>

<% form_for([@project, @project_additional_image], :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "form", :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', project_project_additional_images_path(@project) %>