 <p>
   <%= f.label "Nome" %><br />
   <%= f.text_field :name %>
 </p>
 <p>
   <%= f.label "Email" %><br />
   <%= f.text_field :email %>
 </p>
 <p>
   <%= f.label "Área de atuação" %><br />
   <%= f.text_field :activity %>
 </p>