<h1>Usuários :: Edição</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
	
	<%= render :partial => "form", :locals => { :f => f } %>
 
  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @user %> |
<%= link_to 'Voltar', users_path %>