<p>
  <%= f.label "Título" %><br />
  <%= f.text_field :title, :size => 62 %>
</p>

<p>
	<%= f.label "Arquivo" %><br/>
	<% if @download_file.download.exists? -%>
		<%= @download_file.download.url %><br/>
	<% end %>
	<%= f.file_field :download %>
</p>