<h1>Rede AECID</h1>

<table>
  <tr>
    <th>Posição</th>
    <th>Título</th>
  </tr>

<% @aecid_sites.each do |aecid_site| %>
  <tr>
	<td>
		<%= link_to 'Up', "/aecid_sites/#{aecid_site.id}/higher", :method => :put %>
		<%= link_to 'Dn', "/aecid_sites/#{aecid_site.id}/lower", :method => :put %>
	</td>
    <td><%=h aecid_site.title %></td>   
    <td><%= link_to 'Exibir', aecid_site %></td>
    <td><%= link_to 'Editar', edit_aecid_site_path(aecid_site) %></td>
    <td><%= link_to 'Remover', aecid_site, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo site na rede AECID', new_aecid_site_path %>