  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.label "Onde" %><br />
    <%= f.text_field :where, :size => 62 %>
  </p>
  <p>
    <%= f.label "Quando" %><br />
    <%= f.text_field :when, :size => 62 %>
  </p>
  <p>
    <%= f.label "Url" %><br />
    <%= f.text_field :url, :size => 62 %>
  </p>