<p>
  <%= f.label "Título" %><br />
  <%= f.text_field :title, :size => 62 %>
</p>
<p>
  <%= f.label "Url" %><br />
  <%= f.text_field :url, :size => 62 %>
</p>
<p>
  <%= f.label "Tipo" %><br />
  <%= f.select :categ, ["Instituições Espanholas", "Instituições Espanholas no Brasil", "Sites de projetos parceiros", "Instituições Parceiras"] %>	
</p>
