<h1>Sites Parceiros :: Edição</h1>

<% form_for(@partner_site) do |f| %>
  <%= f.error_messages %>

  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', @partner_site %> |
<%= link_to 'Editar', partner_sites_path %>