  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description, :cols => 60, :rows => 18 %>
  </p>
  <p>
    <%= f.label "Url - o endereço do link" %><br />
    <%= f.text_field :url, :size => 62 %>
  </p>
  <p>
    <%= f.label "Link - o texto do link" %><br />
    <%= f.text_field :link_txt, :size => 62 %>
  </p>