<h1>Mediateca :: Edição</h1>

<% form_for(@medialibrary) do |f| %>
  <%= f.error_messages %>
	
	<%= render :partial => "form", :locals => {:f => f} %>
  	
  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @medialibrary %> |
<%= link_to 'Voltar', medialibraries_path %>