<h1>Mediateca</h1>

<table>
  <tr>
	<th>Posição</th>
    <th>Description</th>
  </tr>

<% @medialibraries.each do |medialibrary| %>
  <tr>
	<td>
		<%= link_to 'Up', "/medialibraries/#{medialibrary.id}/higher", :method => :put %>
		<%= link_to 'Dn', "/medialibraries/#{medialibrary.id}/lower", :method => :put %>
	</td>
    <td><%=h medialibrary.description %></td>
    <td><%= link_to 'Exibir', medialibrary %></td>
    <td><%= link_to 'Editar', edit_medialibrary_path(medialibrary) %></td>
    <td><%= link_to 'Remover', medialibrary, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo ítem', new_medialibrary_path %>