<h1><%= @project.title %> :: Documentos</h1>

<table>
  <tr>
    <th>Posição</th>
	<th>Título</th>
	<th>Arquivo</th>
  </tr>

<% @project_documents.each do |project_document| %>
  <tr>
	<td>
		<%= link_to 'Up', "/projects/#{@project.id}/project_documents/#{project_document.id}/higher", :method => :put %>
		<%= link_to 'Dn', "/projects/#{@project.id}/project_documents/#{project_document.id}/lower", :method => :put %>
	</td>
    <td><%=h project_document.title %></td>
    <td><%=h project_document.position %></td>
    <td><%=h project_document.prj_doc.url %></td>
    <td><%= link_to 'Editar', edit_project_project_document_path(@project, project_document) %></td>
    <td><%= link_to 'Remover', [@project, project_document], :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo documento', new_project_project_document_path(@project) %>
<br/><br/>
<%= link_to 'Voltar para o projeto', @project %>