<h1><%= @project.title %> :: Documentos</h1>

<% form_for([@project, @project_document], :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>
	
  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Criar', :disable_with => "Criando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', project_project_documents_path(@project) %>