  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => 62 %>
  </p>

  <p>
	<%= f.label "Imagem" %><br/>
	<% if @socialnetwork_site.sn_icon.exists? then %>
		<%= image_tag @socialnetwork_site.sn_icon.url(:icon) %><br/>
	<% end %>
	<%= f.file_field :sn_icon %>
  </p>