<h1>Redes Sociais :: Edição</h1>

<% form_for(@socialnetwork_site, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @socialnetwork_site %> |
<%= link_to 'Voltar', socialnetwork_sites_path %>