<p>
  <%= f.label "Mês" %><br />
	<%= f.text_field :month, :size => 6 %>
</p>
<p>
  <%= f.label "Ano" %><br />
	<%= f.text_field :year, :size => 6 %>
</p>
<p>
	<%= f.label "Arquivo" %><br/>
	<% if @program_download.program_download.exists? then %>
		<%= @program_download.program_download.url %><br/>
	<% end %>
	<%= f.file_field :program_download %>
</p>