<h1>Destaque :: Edição</h1>

<% form_for(@highlight, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.label "Subtitulo" %><br />
    <%= f.text_field :subtitle, :size => 62 %>
  </p>
  <p>
    <%= f.label "Texto do link" %><br />
    <%= f.text_field :link_txt, :size => 62 %>
  </p>
  <p>
    <%= f.label "Url" %><br />
    <%= f.text_field :url, :size => 62 %>
  </p>
  <p>
	<%= f.label "Imagem" %> <small>[tamanho: 278x210]</small><br/>
	<% if @highlight.highlight_image.exists? then %>
		<%= image_tag @highlight.highlight_image.url(:thumb) %><br/>
	<% end %>
	<%= f.file_field :highlight_image %>
  </p>
  <p>
    <%= f.submit 'Atualizar', :disable_with => "Atualizando.." %>
  </p>
<% end %>

<%= link_to 'Exibir', @highlight %>