<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
<head>
<% if @page_title.nil? -%>
	<title><%= t 'welcome' %></title>
<% else -%>
	<title><%= @page_title %></title>
<% end -%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="all" />
<meta http-equiv="content-language" content="portuguese" />
<meta name="geo.country" content="br" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="revisit-after" content="1 days" />
<link rel="home" href="http://" />
<link rel="stylesheet" href="/css/cce.css" type="text/css" media="screen" id="style_css" />

<%= auto_discovery_link_tag(:rss, :action => 'feed') %>

<!-- sFIR -->
<link rel="stylesheet" href="/sifr/sifr.css" type="text/css" media="screen" />
<script type="text/javascript" src="/sifr/sifr.js"></script>
<script type="text/javascript" src="/sifr/sifr-config.js"></script>
<script type="text/javascript" src="/sifr/sifr-debug.js"></script>
<!-- /sFIR -->
<!-- jquery_lightbox -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/lightbox/jquery.lightbox-0.5.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/lightbox/jquery.lightbox.css" media="screen" />
<script type="text/javascript" src="/js/scripts.js"></script>
<!-- /jquery_lightbox -->
<%= javascript_include_tag "application" %>
<!-- SWFOBJECT-->
<script type="text/javascript" src="/js/swfobject.js"></script>
</head>

<%= yield %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9247494-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>